body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 1.25rem 4.375rem 0rem;
    
}

.header {
    margin: auto;
    
}

#logo {
    padding-right: 6.25rem;
}


#active {
    color: #00043B;
    font-size: 1.125rem;
    padding-right: 2.5rem;

}

.inactive {
    color: #9698AE;
    padding-right:1.25rem;
    font-size: 1.125rem;

}



#sign{
    float: right;
    background-color: white; 
    border: 0.094rem solid #ED2727;
    color: #ED2727;
    padding: 0.625rem 1.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
      
}

.maincopy{
    margin-top: 6.25rem;
    float: left;
}



#copy {
    font-weight: 700;
    font-size: 4.5rem;
    color: #00043B;
    margin-bottom: 1rem;

}

#subcopy {
    color: #9698AE;
    font-size: 1.5rem;
    font-weight: 200;
}

#dot {
    color: #ED2727;
}


#red {
    color: #ED2727;
}

#chair {
    float: right;
}

#CTA {
    margin-top: 2rem;
    background-color: #ED2727 ; 
    border: 0.094rem solid #ED2727;
    color: white;
    padding: 0.938rem 3.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}

#chair {
    display: inline-block;
    float: right;
    margin: auto;

}